/*
Custom Css
*/


@import url(../../fontes/Roboto-BoldCondensed.ttf);
@import url(../../fontes/mariana.ttf);
@import url(../../fontes/CoffeCake.ttf);
@import url(../../fontes/BebasKai.ttf);
@import url(../../fontes/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf);

@font-face {
    font-family: FonteMenu;
    src: url('../../fontes/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf') format('opentype');
    size: 90%;
  }
  

  
body {
    font-family: 'MinhaFonteLocal', sans-serif;

}

.navbar {
    background-color: #C8DEB8;
}

#templatemo_main_nav a {
    font-family: 'FonteMenu', sans-serif;
}

.img-fluid {
    height: 500px;
}

