/*
Custom Css
*/
@import url(../../fontes/Roboto-BoldCondensed.ttf);
@import url(../../fontes/MarianaOghawa.ttf);
@import url(../../fontes/CoffeCake.ttf);



body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

}

.nav-link {
    font-family: 'CoffeCake';
}

.navbar {
    background-color: #C8DEB8;
}

